.container {

}
.get_friends {
  width: 300px;
  height: 600px;
  padding-left: 100px;
  padding-top: 50px;
  float: left;
}
#Send {
  margin-bottom: 15px;
  font-size: 20px;
}
.get-friends form {
  width: 500px;
}
.get_friends input[type='text'] {
  width: 200px;
  height: 45px;
  font-size: 20px;
}
.get_friends input[type='submit'] {
  padding: 10px 20px;
  text-align: center;
  margin-left: 10px;
}
.search_list {
  height: 487px;
  margin-top: 20px;
}
.list_elem {
  border-style: solid;
  border-width: 1px;
  height: 29px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 3px;
  margin-right: 3px;
}
.elem_id {
  margin-top: 3px;
  margin-left: 10px;
  font-size: 18px;
  float: left;
}
.list_elem a {
  margin-top: 3px;
  margin-right: 10px;
  font-size: 18px;
  float: right;
}
.add_friends {
  width: 300px;
  height: 700px;
  padding-left: 100px;
  padding-top: 50px;
  float: left;
}
#Receive {
  margin-bottom: 15px;
  font-size: 20px;
}
.list {
  height: 600px;
  margin-top: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  border-style: solid;
  border-width: 2px;
}
.friends {
  width: 300px;
  height: 700px;
  padding-left: 100px;
  padding-top: 50px;
  float: left;
}
#my_friends {
  margin-bottom: 15px;
  font-size: 20px;
}
.friends select {
  width: 300px;
  margin-top: 20px;
}
