.textbox {
  margin-left: 150px;
  margin-top: 100px;
}
.textbox label {
  font-size: 20px;
  margin-right: 10px;
}
.textbox input[type="text"] {
  height: 45px;
  width: 300px;
  font-size: 20px;
}
.class {
  float: left;
}
.friends-select {
  width: 450px;
  float: left;
}
.friends-select select {
  width: 300px;
  height: 600px;
  margin-left: 150px;
  margin-top: 100px;
}
.selected {
  width: 450px;
  float: left;
}
.selected select {
  width: 300px;
  height: 600px;
  margin-left: 100px;
  margin-top: 100px;
}
#btn-submit {
  padding: 10px 20px;
  border: none;
  text-align: center;
  background-color: #2ECC71;
  float: left;
  margin-left: 100px;
  margin-top: 375px;
}

