* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, Sans-serif;
    font-size: 12px;
    background-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
}


#content {
    min-height: 1000px;
    position: absolute;
    left: 0px;
    right: 0px;
    /*background: #ccc;*/
    background-image: url("../img/bg.png");
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1;
}

#home_content {
    min-height: 1000px;
    position: absolute;
    left: 0px;
    right: 0px;
    background: #ccc;
    z-index: -1;
}


div.calendar_main_container {
    width: 250px;
    height: 200px;
    margin: 50px 25px 25px 50px;
    display: inline-block;
}

img.calendar_main_pic {
    width: 250px;
    height: 150px;
}

#topMenu {
  height: 42px;
  width: 450px;
  margin-left: 100px;
}
#topMenu ul li {
  list-style: none;
  /*background-color: #eff5f9;*/
  float: left;
  line-height: 42px;
  vertical-align: middle;
  text-align: center;

}
#topMenu .menuLink {
  text-decoration: none;
  display: block;
  width: 150px;
  background-color: #eff5f9;
}
#index_descript {
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(52, 73, 94, 0.7);
  font-size: 23px;
  border-radius: 10px;
  margin: 0px auto;
  margin-top: 150px;
}
#info {
  font-size: 18px;
  margin-top: 20px;
}

