.calendar {
    border-collapse: collapse;
    table-layout: fixed;
}
.calendar .holiday {
    color:#bd2031;
}
.calendar .week {
    padding:10px;
}
.calendar .datecell {
    border: 1px solid black;
    vertical-align:middle;
    text-align:center;
    font-size:60px;
    min-width:120px;
    max-width:120px;
    min-height:80px;
    max-height:80px;
    line-height: 80px;
    background-color: #fff;
}
.calendar .today {
    background-color: #D2B48C;
    /*box-shadow: inset 1px 1px 10px #000;
    border: none;*/
}
.calendar .datecell .noon_line{
    /**/display:none;
    left: 50%;
    width: 0;
    border: 1px dotted #aaa;
    height: 77px;
    margin-top: -80px;
    position:relative;
    top: 0;
}
/*
.calendar .datecell .morning{
    left: 0;
    width: 25%;
    height: 100px;
    margin-top: -100px;
    background-color:rgba(0, 0, 0, 0.3); 
    position:relative;
    top: 0;
}
.calendar .datecell .noon{
    left: 25%;
    width: 50%;
    height: 100px;
    margin-top: -100px;
    background-color:rgba(255, 255, 0, 0.3); 
    position:relative;
    top: 0;
}
.calendar .datecell .night{
    left: 75%;
    width: 25%;
    height: 100px;
    margin-top: -100px;
    background-color:rgba(0, 0, 0, 0.3); 
    position:relative;
    top: 0;
}
*/
